

<div class="app-body">
  <app-sidebar id="sidebar" class="admin-sidebar" [fixed]="true" [display]="'lg'" style="background: #ffffff;">
    <nav class="navbar flex-column align-items-start pt-0 pb-0">
      <h4 class="theme-color"><strong>User Management</strong></h4>
      <ul class="p-0 list-unstyled">
        <li class="nav-item">
          <a [routerLink]="['/dashboard']">SL User Roles</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/users']">Add Users</a>
          </li>
        <li class="nav-item">
          <a class="active" [routerLink]="['/users']">View Users</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/users']">User Roles</a>
        </li>
      </ul>
    </nav>
  </app-sidebar>
  
    <main class="main" style="background: #f0f5fb">
      
      <div class="container-fluid pt-4">
          <div class="row">
              <div class="col-md-12">
                <div class="card box-shadow">
                  <div class="card-header"><h4>View Users</h4></div>
                  <div class="card-body">
            
                    <div class="serch-form pb-4">
                      <form class="row align-items-center" action="/action_page.php">
                        <div class="col-sm-2">
                            <label for="email" class="m-0">Search With</label>
                        </div>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-sm-4 pr-2 pl-2">
                              <div class="form-inline">
                                <label for="email" class="pr-1">Role:</label>
                                <select name="role" class="form-control w-75" id="" [(ngModel)]="dataFilter.role" (change)="setFilter()">
                                  <option value="">Select Role</option>
                                  <option value="Hign Level Admin">Hign Level Admin</option>
                                  <option value="SL Personal Admin">SL Personal Admin</option>
                                </select>
                              </div>
                            </div>
            
                            <div class="col-sm-4 pr-2 pl-2">
                              <div class="form-inline">
                                <label for="email" class="pr-1">First Name:</label>
                                <input type="text" [(ngModel)]="dataFilter.firstName" class="form-control" (keyup)="setFilter()" name="firstName">
                              </div>
                            </div>
            
                            <div class="col-sm-4 pr-2 pl-2">
                              <div class="form-inline">
                                <label for="email" class="pr-1">Surname:</label>
                                <input type="text" [(ngModel)]="dataFilter.surname" class="form-control" (keyup)="setFilter()" name="surname">
                              </div>
                            </div>
                          </div>
                        </div>
                          
                      </form>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered no-footer">
                        <thead>
                          <tr class="text-primary">
                            <th [class.active]="order === 'firstName'" (click)="setOrder('firstName')">
                              First Name
                              <span [hidden]="reverse">▼</span>
                              <span [hidden]="!reverse">▲</span>
                            </th>
                            <th [class.active]="order === 'surname'" (click)="setOrder('surname')">
                              Surname
                              <span [hidden]="reverse">▼</span>
                              <span [hidden]="!reverse">▲</span>
                            </th>
                            <th [class.active]="order === 'role'" (click)="setOrder('role')">
                              Role
                              <span [hidden]="reverse">▼</span>
                              <span [hidden]="!reverse">▲</span>
                            </th>
                            <th [class.active]="order === 'organization'" (click)="setOrder('organization')">
                              Organization
                              <span [hidden]="reverse">▼</span>
                              <span [hidden]="!reverse">▲</span>
                            </th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of users | grdFilter: setDataFilter | orderBy: order:reverse:'case-insensitive';">
                            <td>{{ user?.firstName }}</td>
                            <td>{{ user?.surname }}</td>
                            <td>{{ user?.role }}</td>
                            <td>{{ user?.organization }}</td>
                            <td>
                              <span><i class="fa fa-search"></i></span>&nbsp;&nbsp;
                              <span><i class="fa fa-edit"></i></span>&nbsp;&nbsp;
                              <span><i class="fa fa-times"></i></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>        
      </div>
    </main>
    
  </div>


