.p-35 {
    padding: 35px;
}
.pt-35 {
    padding-top: 35px;
}
.pb-35 {
    padding-bottom: 35px;;
}
.pr-35 {
    padding-right: 35px;
}
.pl-35 {
    padding-left: 35px;
}
.p-30 {
    padding: 30px;
}
.pt-30 {
    padding-top: 30px;
}
.pb-30 {
    padding-bottom: 30px;;
}
.pr-30 {
    padding-right: 30px;
}
.pl-30 {
    padding-left: 30px;
}
.p-25 {
    padding: 25px;
}
.pt-25 {
    padding-top: 25px;
}
.pb-25 {
    padding-bottom: 25px;;
}
.pr-25 {
    padding-right: 25px;
}
.pl-25 {
    padding-left: 25px;
}

.p-20 {
    padding: 20px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-20 {
    padding-bottom: 250x;;
}
.pr-20 {
    padding-right: 20px;
}
.pl-20 {
    padding-left: 20px;
}

.p-15 {
    padding: 15px;
}
.pt-15 {
    padding-top: 15px;
}
.pb-15 {
    padding-bottom: 15px;;
}
.pr-15 {
    padding-right: 15px;
}
.pl-15 {
    padding-left: 15px;
}
.p-10 {
    padding: 10px;
}
.pt-10 {
    padding-top: 10px;
}
.pb-10 {
    padding-bottom: 10px;;
}
.pr-10 {
    padding-right: 10px;
}
.pl-10 {
    padding-left: 10px;
}


.m-35 {
    margin: 35px;
}
.mt-35 {
    margin-top: 35px;
}
.mb-35 {
    margin-bottom: 35px;;
}
.mr-35 {
    margin-right: 35px;
}
.ml-35 {
    margin-left: 35px;
}
.m-30 {
    margin: 30px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;;
}
.mr-30 {
    margin-right: 30px;
}
.ml-30 {
    margin-left: 30px;
}
.m-25 {
    margin: 25px;
}
.mt-25 {
    margin-top: 25px;
}
.mb-25 {
    margin-bottom: 25px;;
}
.mr-25 {
    margin-right: 25px;
}
.ml-25 {
    margin-left: 25px;
}

.m-20 {
    margin: 20px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-20 {
    margin-bottom: 250x;;
}
.mr-20 {
    margin-right: 20px;
}
.ml-20 {
    margin-left: 20px;
}

.m-15 {
    margin: 15px;
}
.mt-15 {
    margin-top: 15px;
}
.mb-15 {
    margin-bottom: 15px;;
}
.mr-15 {
    margin-right: 15px;
}
.ml-15 {
    margin-left: 15px;
}
.m-10 {
    margin: 10px;
}
.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;;
}
.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}

.btn, .btn-lable {
    border-radius: 25px;
}
p {
    margin-bottom: 10px;
}
body {
    color: #283a45;
}
.form-control {
    height: 45px;
    border-radius: 3px;
    color: #8c989f;
}
.border-bottom {
    border-bottom-color:#dae4eb !important;
}
.gray-bg {
    background: #f1f6f9;
}
.theme-bgcolor {
    background: #446fd3;
    color: #fff;
}
.theme-color{
    color:#446fd3;
}
.green-bgcolor {
    background: #5ecd7b;
    color: #fff;
}
.purple-bgcolor {
    background: #a156eb;
    color: #fff;
}
.green-color {
    color: #5ecd7b;
}
.darkBlue-clr {
    color: #273944;
}
a {
    color: #43535c;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}
.table-bordered td {
    border-bottom: 0px;
    border-top: 0px;
    border-left-color: #dae4eb;
    border-right-color: #dae4eb;
}
form .form-control {
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 0px;
}
.table-bordered thead th {
    border-bottom-width: 1px;
    color: #3297ca;
    font-weight: 500;
}
.table-bordered tr:last-child td {
    border-bottom:1px solid #dae4eb; 
}
.table-striped tbody tr:nth-of-type(odd) {
    background: transparent;
}
.table-striped tbody tr:nth-of-type(even), .table-bordered thead tr {
    background: #f0f6f8;
}
body.header-fixed app-dashboard {
    .app-header {
        height: 75px;
        border: 0px;
        box-shadow: 0px 4px 7px 2px #cccccc3b;
        padding: 0px 15px;
        .aside-menu {
            width: auto;
            margin-left: 0px;
            margin: 0px;
            border: 0px; 
            li {
                a {
                    font-weight: 600;
                    color: #43535c;
                    &:hover {
                        color: #5ecd7b;
                    }
                    &:active {
                        color: #5ecd7b;
                    }
                    &.active {
                        color: #5ecd7b;
                    }
                    &.dropdown-toggle::after {
                        content:'\f107';
                        font-family: 'fontAwesome';
                        border: 0px;
                        vertical-align: 0px;
                    }
                    @media (max-width:1330px) {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
                &.search-Icon {
                    margin-left: 20px;
                    a{
                        background: #fff;
                        box-shadow: 0px 2px 3px 3px #cccccc3b;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        line-height: 18px;
                        padding-left: 13px;
                        padding-right: 13px;
                    }
                    @media (max-width:1330px) {
                            margin-left: 10px !important;
                    }
                }
                
                span {
                    font-weight: 600;
                }
                &.logOut {
                    margin-left: 15px;
                    @media (max-width:1210px) {
                        margin: 0;
                    }
                    a {
                        border: 2px solid #ff4244;
                        color: #ff4244;
                        border-radius: 50px;
                        padding: 7px 20px;
                        @media (max-width:1210px) {
                            border: 0px;
                            padding-left: 0px;
                            border-radius: 0px;
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                }

            }
            @media (max-width:1330px) {
                ul.pl-5 {
                    padding-left: 10px !important;
                }
            }
        }
    }
    .app-body {
        margin-top: 75px;
    }
}
.admin-sidebar {
    padding-top: 25px;
    padding-bottom: 25px;
    .navbar {
        
        h4{
            margin: 0 15px;
        }
        ul {
            width: 100%;
            li {
                margin: 10px 0px;
                a {
                    font-size: 16px;
                    padding: 5px 15px 7px;
                    display: inline-block;
                    border-radius: 35px;
                    &:hover {
                        background-color: #446fd3;
                        color: #fff;
                    }
                    &.active {
                        background-color: #446fd3;
                        color: #fff;
                    }
                }
            }
        }
    }
}
main.main {
    min-height: 100vh;
}
.card {
    border:0px;
    .card-header {
        background: transparent;
        border-bottom-color: #f2f2f2;
        * {
            margin: 0px;
        }
    }
    .card-body {
        padding: 15px;
    }
}
.box-shadow {
    box-shadow: 0px 0px 5px 5px #cccccc3b;
}
.sidebar-fixed .sidebar {
    box-shadow: 4px 0px 6px 3px #cccccc3b;
}
.sidebar-fixed .sidebar {
    overflow: auto;
    color: inherit;
    bottom: 0;
    top: 75px;
    height: auto;
}
html:not([dir=rtl]) .sidebar {
    margin-left: -100%;
}
@media (min-width: 992px) {
    .sidebar-fixed .sidebar {
        width: 280px;
    }
    html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir=rtl]) .sidebar-show.sidebar-fixed .main, html:not([dir=rtl]) .sidebar-show.sidebar-fixed .app-footer {
        margin-left: 280px;
    }
    .app-header {
        .navbar-toggler {
            display: none !important;
        }
    }
}

@media (max-width:1210px) {
    body.header-fixed app-dashboard .app-header  {
        .aside-menu {
            // display: none !important; 
            width: 250px;
            position: fixed;
            right: -100%;
            top: 76px;
            transition: all 0.4s ease 0s;
            bottom: 0;
            .dropdown {
                a:after {
                    position: absolute;
                    right: 0;
                }
                .dropdown-menu {
                    position: relative;
                    border: 0;
                    padding-left: 15px;
                }
            }
        }
    }
    body.header-fixed.aside-menu-show app-dashboard .app-header  {
        .aside-menu {
            right: 0%;
            transition: all 0.4s ease 0s;
            .navbar  {
                flex-direction: column;
                ul li {
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
    button.navbar-toggler[appasidemenutoggler] {
        display: block !important;
    }
}
@media (max-width:992px) {
    body .sidebar {
        width: 250px;
    }
}