<app-header id ="header-main"
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 130, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]=lg
  >
  <app-aside [fixed]="false" [display]="true">
  
    <nav class="navbar navbar-expand-sm ">
      <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
              <a [routerLink]="['/']">Home</a>
          </li>

          <li class="dropdown" dropdown>
            <a id="button-animated" dropdownToggle class="dropdown-toggle"
                    aria-controls="dropdown-animated">
              Company Details <span class="caret"></span>
            </a>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-animated">
              <li role="menuitem"><a class="dropdown-item" href="#">Option 1</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Option 2</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" href="#">Option 3</a></li>
            </ul>
          </li>

          <li class="dropdown" dropdown>
            <a id="button-animated" dropdownToggle class="dropdown-toggle"
                    aria-controls="dropdown-animated">
              Settings <span class="caret"></span>
            </a>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-animated">
              <li role="menuitem"><a class="dropdown-item" href="#">Option 1</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Option 2</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" href="#">Option 3</a></li>
            </ul>
          </li>

          <li class="nav-item">
              <a [routerLink]="['/users']">Users</a>
          </li>

          <li class="dropdown" dropdown>
            <a id="button-animated" dropdownToggle class="dropdown-toggle"
                    aria-controls="dropdown-animated">
              Lotto Accounts <span class="caret"></span>
            </a>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-animated">
              <li role="menuitem"><a class="dropdown-item" href="#">Option 1</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Option 2</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" href="#">Option 3</a></li>
            </ul>
          </li>

          <li class="dropdown" dropdown>
            <a id="button-animated" dropdownToggle class="dropdown-toggle"
                    aria-controls="dropdown-animated">
              Reporting <span class="caret"></span>
            </a>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-animated">
              <li role="menuitem"><a class="dropdown-item" href="#">Option 1</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Option 2</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" href="#">Option 3</a></li>
            </ul>
          </li>

          <li class="dropdown" dropdown>
            <a id="button-animated" dropdownToggle class="dropdown-toggle"
                    aria-controls="dropdown-animated">
              Help <span class="caret"></span>
            </a>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-animated">
              <li role="menuitem"><a class="dropdown-item" href="#">Option 1</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Option 2</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" href="#">Option 3</a></li>
            </ul>
          </li>

          <li class="nav-item search-Icon">
            <a><i class="fa fa-search" aria-hidden="true"></i></a>
          </li>
      </ul>

      <ul class="nav navbar-nav ml-auto pl-5">
        <li class="nav-item">
            <span class="green-color pr-2">Welcome:<span class="darkBlue-clr">Noel</span></span>
            <img alt="admin@bootstrapmaster.com" width="30" class="img-avatar" src="assets/img/avatars/6.jpg">
          </li>

          <li class="nav-item logOut">
            <a> <i class="fa fa-power-off" aria-hidden="true"></i>Log Out</a>
          </li>
      </ul>

    </nav>
  </app-aside>
</app-header>

<router-outlet></router-outlet>
