<div class="app-body">
  <app-sidebar id="sidebar" class="admin-sidebar" [fixed]="true" [display]="'lg'" style="background: #ffffff;">
    <div class="usr-info text-center border-bottom pr-15 pl-15 pb-35">
      <div class="user-img box-shadow ml-auto mr-auto mb-3">
          <img src="../../../assets/img/yoga-img.png" class="img-fluid" alt="">
      </div>
      <div class="user-name">
        <h4 class="name">Tyrone GAA</h4>
        <p class="userType">Lotto Admin</p>
      </div>
    </div>
    <div class="priceSection pt-30">
      <div class="row m-0">
          <div class="col-12">
            <p>This Weeks Lottery Sales Summary</p>
          </div>
          <div class="col-12">
            <div class="gray-bg text-center priceSection_price">
              <p>Lotto Tickets Sold</p>
              <h2>248</h2>
            </div>
          </div>
          <div class="col-12">
            <div class="gray-bg text-center priceSection_price">
              <p>Lotto Tickets Sold</p>
              <h2>€248.00</h2>
            </div>
          </div>
        </div>
    </div>

    <div class="active-lotto pt-25">
      <div class="gray-bg p-10">
        <p>Active Lotto Draws</p>
      </div>
      <div class="mb-15 mt-20">
        <div class="col-12">
          <label for="" class="btn-lable theme-bgcolor w-100">Total Sales €23122</label>
          <label for="" class="btn-lable green-bgcolor w-100">Monthly Sales €324</label>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-bordered no-footer">
          <thead>
            <tr class="text-primary">
              <th>
                Date
              </th>
              <th>
                Sales
              </th>
              <th>
                Days Left
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>12/08/19</td>
              <td>847</td>
              <td>-7</td>
            </tr>
            <tr>
              <td>11/08/19</td>
              <td>394</td>
              <td>7</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      
  </app-sidebar>

  <main class="main" style="background: #f0f5fb">    
    <div class="container-fluid pt-4">
      <div class="row">
          <div class="col-md-12">
            <div class="card box-shadow">
              <div class="card-body search-by justify-content-between row align-items-center">
                <div class="col-6 col-sm-9">
                  Sort By:
                </div>
                <div class="col-6 col-sm-3">
                  <div class="form-group m-0">
                    <select name="" class="form-control" id="">
                      <option value="">Option 1</option>
                      <option value="">Option 2</option>
                      <option value="">Option 3</option>
                    </select>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
      </div>
      <div class="row total-info">
        <div class="card col-md-4">
          <div class="card-body box-shadow text-center theme-bgcolor">
            <div class=" ">
              <img src="../../../assets/img/icon-1.jpg" class="img-fluid" alt="">
              <div class="total-count">
                <h2>€32,566</h2>
                <p>Total Funds Raised</p>
                <span>Since July 5</span>
              </div>
            </div>
            
          </div>
        </div>

        <div class="card col-md-4">
          <div class="card-body box-shadow text-center green-bgcolor">
            <div class="">
              <img src="../../../assets/img/icon-2.jpg" class="img-fluid" alt="">
              <div class="total-count">
                <h2>04</h2>
                <p>Active Resellers</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card col-md-4">
          <div class="card-body box-shadow text-center purple-bgcolor">
            <div class=" ">
              <img src="../../../assets/img/icon-3.jpg" class="img-fluid" alt="">
              <div class="total-count">
                <h2>500</h2>
                <p>Registered Players</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card box-shadow">
            <div class="card-header card-title">Registered Players</div>
            <div class="card-body">
              <app-players-chart></app-players-chart>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card box-shadow">
            <div class="card-header card-title">SMS Cost</div>
            <div class="card-body">
              <app-sms-cost-chart></app-sms-cost-chart>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card box-shadow">
            <div class="card-header card-title">Sales Summary</div>
            <div class="card-body">
              <app-sales-chart></app-sales-chart>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card box-shadow">
            <div class="card-header card-title">Profitabilty %</div>
            <div class="card-body">
              <app-profitabilty-chart></app-profitabilty-chart>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card box-shadow">
            <div class="card-header card-title">Tech Support</div>
            <div class="card-body p-0">
              <div class="table-responsive">

                <table class="table table-striped table-bordered no-footer footer-design-2">
                  <thead>
                    <tr class="text-primary">
                      <th [class.active]="order === 'number'" (click)="setOrder('number')">
                        Number
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                      </th>
                      <th [class.active]="order === 'name'" (click)="setOrder('name')">
                        Name
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                      </th>
                      <th [class.active]="order === 'description'" (click)="setOrder('description')">
                        Description
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                      </th>
                      <th [class.active]="order === 'dateOpened'" (click)="setOrder('dateOpened')">
                        Date Opened
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                      </th>
                      <th [class.active]="order === 'status'" (click)="setOrder('status')">
                        Status
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let support of techSupport | orderBy: order:reverse:'case-insensitive';">
                      <td>{{ support?.number }}</td>
                      <td>{{ support?.name }}</td>
                      <td>{{ support?.description }}</td>
                      <td>{{ support?.dateOpened }}</td>
                      <td>{{ support?.status }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
</div>