.footer-design-2 {
    border: 0px;
    margin-bottom: 0px;
    thead th, td {
        border-top: 0;
        border-bottom: 0;
        &:last-child {
            border-right: 0;
        }
        &:first-child {
            border-left: 0px;
        }
    }
}

.usr-info {
    .user-img {
        max-width: 160px;
        width: 100%;
        border-radius: 50%;
        padding: 4px;
    }
    .user-name
    p {
        font-size: 14px;
        margin-bottom: 0;
    }
}
.priceSection {
    p {
        margin-bottom: 15px;
    }
    .priceSection_price {
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 4px;
        p {
            color: #8e9ba1;
            margin: 0;
        }
        h2 {
            font-size: 36px;
        }

    }
}

.active-lotto {
    p {
        margin: 0px;
        font-weight: 600;
    }
    .btn-lable {
        padding: 7px 15px;
        text-align: center;
    }
    table th, table td {
        border-bottom-width: 0px;
        border-top-width: 0px;
        &:last-child{
            border-right-width: 0px;
        }
    }
    .table-bordered {
        border: 0;
        box-shadow:0px 7px 7px 1px #cccccc3b;
    }
}
.card {
    .search-by {
        color: #8c989f;
    }
    .card-title {
        font-weight: 600;
        font-size: 17px;
        background: #f7f9fc;
        border: 0px;
    }
}

.total-info {
    .card {
        background: transparent;
    }
    .card-body  {
        padding: 25px 20px;
        height: 100%;
        border-radius: 5px;
        img {
            max-width: 125px;
            width: 100%;
        }
        h2 {
            font-size: 50px;
            @media (max-width:1300px) {
                font-size: 36px;
            }
        }
        p {
            margin: 0px;
        }
        span {
            font: 14px;
            color: #9db3e8;
        }
    }
}