// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

@import '~ngx-toastr/toastr.css';
@import '../assets/dist/css/site.css';


.invalidform{
    border: 1px solid red !important;
}
.fa-asterisk{
    font-size: 8px;
}
.star-icon{
    font-size: 8px;
    font-weight: bolder;
}
.imgPreview.adminImg  li {
    flex: 0 0 18.33%;
}
.app-images-preview{
    .owl-carousel .owl-item .item img{
      height: 400px;
    }
    .modal-content{
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #fff0;
      background-clip: padding-box;
      border: none;
      border-radius: none;
      outline: none;
    }
  }
.cls-display-none{
  display: none !important;
}
.themes-text-color{
  color: #001232;
}

.autocompleted-search .dropdown-menu {
  border: 0;
  border-top: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: 0;
  max-height: 300px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  padding: 0;
  background: white;
}
.verification-code{
  width: 30%;
  margin:auto;
  text-align: center
}
.font-size-20{
 font-size: 18px;
}


//FOR ORDERBY
thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;

  span {
    visibility: hidden;
  }

  &.active {
    color: #000;

    span {
      visibility: visible;
    }
  }
}
.nowrap{
  white-space: nowrap !important;
}
  